@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

.volkhov {
  font-family: "Volkhov", serif;
}

.stack > div {
  max-width: 80%;
}

.stack > aside:nth-child(2) {
  transform: translate(50px, 50px);
  z-index: -1;
}
.stack > aside:nth-child(3) {
  transform: translate(100px, 100px);
  z-index: -2;
}
.stack > div:not(:first-child) {
  box-shadow: none;
  border: 1px solid #ddd;
}
.header {
  transform: translateY(-200%);
  animation-name: float-down;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* body:has(input:checked) {
  background-color: red;
} */


@keyframes float-down {
  to {
    transform: translateY(0);
  }
}

@keyframes float-left {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

header:has(input:checked) ~ .mobile-nav {
  translate: 0;
}
.mobile-nav a {
  transform: translateX(-200px);
  opacity: 0;
}
header:has(input:checked) ~ .mobile-nav a {
  animation: fadein 3s 2s ease forwards, floatRight 1s 1s steps(3) ease-in forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
@keyframes floatRight {
  to {
    transform: translateX(0);
  }
}